// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto');

// Variables and utility
@import 'variables';
@import '../css/spacing-utility.css';

// Materialize
@import '~materialize-css/sass/materialize';

// Custom styles and components
@import '../css/login.css';

@import 'components/navbar';

// General styles

.input-field {
    input[type=text]:focus,
    textarea:focus {
        border-bottom: 1px solid $p-blue !important;
        box-shadow: 0 1px 0 0 $p-blue !important;
    }

    label,
    select {
        color: $p-blue !important;
    }
}

.switch {
    label input[type=checkbox]:checked+.lever {
        background-color: $p-blue;
    }

    label input[type=checkbox]:checked+.lever:after {
        background-color: lighten($p-blue, 10%);
    }
}

.btn-primary {
    background-image: linear-gradient(45deg, $p-blue, $p-blue-light);

    &:hover {
        background-color: $p-blue-light;
    }
}

@media (max-width: 576px) {
    .btn {
        width: 100% !important;
    }
}
