/config/google/*
!/config/google/.gitkeep
/node_modules
/public/hot
/public/storage
/public/css/app.css
/storage/*.key
/vendor
public/js/app.js
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
package-lock.json
