@function theme-color($key) {
    @return map-get($theme-colors, $key);
}

@function color($key) {
    @return map-get($colors, $key);
}

@function gradient($key) {
    @return map-get($gradient-colors, $key);
}
