@each $type in $spacing-types {
    @each $space in $spaces {
        $i: index($spaces, $space)-1;
        
        @each $pos in $position{
            .#{nth($type, 1)}#{nth($pos, 1)}-#{$i}{
                #{nth($type, 2)}-#{nth($pos, 2)}: $space !important;
            }
        }
        .#{nth($type, 1)}-#{$i}{
            #{nth($type, 2)}: $space !important;
        }
    }
    
    @each $direction in $directions{
        @each $space in $spaces {
            $i: index($spaces, $space)-1;
            
            .#{nth($type, 1)}#{nth($direction, 1)}-#{$i}{
                #{nth($type, 2)}-#{nth($direction, 2)}: $space !important;
                #{nth($type, 2)}-#{nth($direction, 3)}: $space !important;
            }

        } 
        .#{nth($type, 1)}#{nth($direction, 1)}-auto{
            #{nth($type, 2)}-#{nth($direction, 2)}: auto !important;
            #{nth($type, 2)}-#{nth($direction, 3)}: auto !important;
        }
    }
}
    