// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #007c9d;   // practice theme
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #ff8429; // practice theme
$yellow: #ffaf00; // practice theme
$green: #27ad60;
$teal: #3db4bf;
$cyan: #6cb2eb;

$colors: (
    'blue': $blue,
    'indigo': $indigo,
    'purple': $purple,
    'pink': $pink,
    'red': $red,
    'orange': $orange,
    'yellow': $yellow,
    'green': $green,
    'teal': $teal,
    'cyan': $cyan,
);

$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;

$grays: (
  '100': $gray-100,
  '200': $gray-200,
  '300': $gray-300,
  '400': $gray-400,
  '500': $gray-500,
  '600': $gray-600,
  '700': $gray-700,
  '800': $gray-800,
  '900': $gray-900
);

$theme-colors: (
    'primary': $blue,
    'secondary': $orange,
    'light': $gray-100,
    'dark': $gray-900
);

$gradient-colors: (
    'primary': ($blue, $indigo),
    'secondary': ($orange, $yellow),
    'light': ($gray-100, $gray-400),
    'dark': ($gray-900, $gray-800)
);

// Spacing
$card-padding: 24px;
$card-border-radius: 2px;
