// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto');

// Materialize
@import '~materialize-css/sass/materialize';

@import 'variables';
@import 'functions';
@import 'utilities';

// Custom styles and components
@import 'login';
@import 'components/footer';
@import 'components/button';
@import 'components/navbar';
@import 'components/reaction';
@import 'components/timeline';
@import 'components/header';
@import 'components/card';
@import 'components/modal';
@import 'components/tabs';

// General styles

.text-secondary {
    color: theme-color('secondary');
}

.input-field {
    input[type=text]:focus,
    textarea:focus {
        border-bottom: 1px solid theme-color('primary') !important;
        box-shadow: 0 1px 0 0 theme-color('primary') !important;
    }

    label,
    select {
        color: theme-color('primary') !important;
    }
}

.switch {
    label input[type=checkbox]:checked+.lever {
        background-color: theme-color('primary');
    }

    label input[type=checkbox]:checked+.lever:after {
        background-color: lighten(theme-color('primary'), 10%);
    }
}

@media (max-width: 576px) {
    .btn {
        width: 100% !important;
    }
}

.dropdown-content {
    li {
        & > a, & > span {
            color: theme-color('primary');
        }
    }
}
