@import 'custom-variables';

.card__input {
    border-bottom: 1px solid $p-blue !important;
    box-shadow: 0 1px 0 0 $p-blue !important;
}

.input__label {
    color: $p-blue !important;
}

.card__btn {
    background: linear-gradient(45deg, $p-yellow, $p-orange);
    border-radius: 5px !important;
    text-transform: uppercase;
    width: 60% !important;
    letter-spacing: 2px;
    font-weight: bold !important;
    color: white !important;
    font-size: 1rem !important;
    margin: 0 auto;
    box-shadow: none;
}

.alert-error {
    text-align: center;
    color: #e53935;
}
