
/**
 * For variants with card header.
 */
.card__header {
    padding: $card-padding $card-padding/2 $card-padding/2 $card-padding;
    border-radius: $card-border-radius $card-border-radius 0 0;
    font-size: 1.4rem;
}

.card__header + .card-content {
    padding: $card-padding/2 $card-padding/2 $card-padding $card-padding;
}

.user-info {
    color: $blue;
    text-align: left;
    display: flex;

    &__avatar {
        border-radius: 45px;
    }
    
    &__uid-name {
        display: inherit;
        align-items: flex-end;
        flex-wrap: wrap;
    }

    div {
        width: 100%;
    }
}

@each $color, $value in $theme-colors {
    .card.card--#{$color} {
        .card__header {
            background-color: $value;
        }

        &.card--gradient {
            background-image: linear-gradient(45deg, gradient($color));

            .card-action {
                background-color: transparent !important;
            }
        }
    }
}
