@import 'variables';
@import 'functions';

$title-size: 32px;
$description-size: 21px;
$user-img-size: 45px;
$user-name-size: 21px;
$reaction-list-size: 3rem;
$reaction-item-size: 42px;

$light-grey: $gray-400;

@keyframes loader {
    // 0% {
    //     background-position: 1% 80%
    // }
    0% {
        background-position: 99% 20%
    }
    100% {
        background-position: 1% 80%
    }
}


@mixin base-style($width: 100%) {
    background-image: linear-gradient(
            90deg, $gray-400, $gray-400, $gray-300, $gray-400, $gray-400, $gray-400,
    );
    background-size: 500% 500%;
    animation: loader 1s ease infinite;

    width: $width;
    border-radius: 2px;
}

.content-loader {
    position: relative;

    display: block;
    overflow: auto;

    &__title {
        height: $title-size;
        @include base-style();
        margin-bottom: 8px;
    }

    &__description {
        height: $description-size;
        @include base-style();
    }

    &__user-info {
        padding-left: 1rem;
        padding-top: 1rem;
        display: flex;
    }

    &__user-img {
        height: $user-img-size;
        @include base-style($user-img-size);

        flex: 0 0 auto
    }

    &__user-name {
        @include base-style();
        height: $user-name-size;
        margin-left: 1rem;

        flex: 1 1 auto
    }

    &__reaction-list {
        width: 100%;
        padding: 0 24px;
    }

    &__reaction-item {
        height: $reaction-item-size;
        @include base-style($reaction-item-size);
        display: inline-block;
        margin-right: 0.5rem;
    }
}