.banner {
    display: flex;
}

.banner__img {
    width: 100%;
}

.page-footer {
    background-color: color('orange') !important;
}

.footer__link {
    color: color('yellow');
}

.footer__heart {
    fill: red;
    width: 0.8rem;
    animation: pulse 1s ease infinite;
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
}

@media (max-width: 696px) {
    .footer__rights--sm-center {
        text-align: center;
        float: none !important;
    }
}
