ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header {
    height: auto;
    line-height: normal;

    background: transparent;

    margin-bottom: 2rem;

    /**
     * Header container.
     */
    &__wrapper {
        @extend .container;

        padding: 0.8rem 0;
        display: flex;
        align-items: center;
        justify-content: space-between;

    }

    /**
     * Right user-related menu.
     */
    &__auth {
        display: inherit;
    }

    &__user-info {
        color: $blue;
        text-align: right;
    }

    &__avatar {
        width: 55px;
        border-radius: 55px;
    }
}

/**
 * Bottom navigation section.
 */
.header__nav {
    @extend .container;

    ul.header__nav-links {
        overflow: hidden;
    }

    li.header__nav-item {
        text-decoration: none;

        a {
            @extend .p-3;
            display: block;
            color: darken(theme-color('primary'), 5%);
            transition: all 0.3s;

            &:hover {
                background-color: transparent !important;
                color: darken(theme-color('primary'), 20%);
            }

            .material-icons {
                font-size: 2rem;
            }
        }
    }
}

/**
 * Menu trigger.
 */
.nav__link {

    color: color('blue');
    display: flex !important;
    align-items: center;
}
