ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header {
    height: auto;
    line-height: normal;

    background: transparent;

    margin-bottom: 2rem;

    /**
     * Header container.
     */
    &__wrapper {
        @extend .container;

        padding: 0.8rem 0;
        display: flex;
        align-items: center;
        justify-content: space-between;

    }

    /**
     * Right user-related menu.
     */
    &__auth {
        display: inline-block;
        float: right;
    }
}

/**
 * Bottom navigation section.
 */
.header__nav {
    @extend .container;

    ul {
        overflow: hidden;
    }

    li {
        float: left;
        text-decoration: none;

        a {
            display: block;
            padding: 1rem;
            color: darken(theme-color('primary'), 10%);
            transition: all 0.3s;

            &:hover {
                background-color: transparent !important;
                color: darken(theme-color('primary'), 20%);
            }

            .material-icons {
                font-size: 2rem;
            }
        }
    }
}

/**
 * Menu trigger.
 */
.nav__link {
    color: color('blue');
    display: flex;
    align-items: center;
}
