/* Black color to the text */
.tabs .tab a {
    color: theme-color('primary');
}

/* Text color on hover */
.tabs .tab a:hover {
    background-color: lighten(theme-color('primary'), 65%);
    color: darken(theme-color('primary'), 10%);
}

/* Background and text color when a tab is focused */
.tabs .tab a:focus, 
.tabs .tab a:focus.active {
    background-color: transparent;
    color: theme-color('primary');
}

/* Background and text color when a tab is active */
.tabs .tab a.active {
    background-color: transparent;
    color: theme-color('primary');
} 

/* tab underline color */
.tabs .indicator {
    background-color: theme-color('primary');
}