/**
 * Component inspired by w3schools:
 * https://www.w3schools.com/howto/howto_css_timeline.asp
 */

// Component-specific variables
$tl-left-space: 4rem;
$tl-base-padding: 1rem;
$tl-item-offset: 4rem;
$tl-icon-size: 2rem;
$tl-ruler-width: 4px;

$tl-icon-adjust: 0.3rem;

// Remove list standard styles.
ul[class="timeline__list"] {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

// Fix top margin.
.card + .timeline {
    margin-top: -1rem;
}

// Fix margin of 'add comment' textarea.
.timeline__card {
    margin-top: 0;

    .card-action {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
        text-align: right;
    }
}

/**
 * Timeline container
 */
.timeline__list {
    position: relative;
    margin: 0 auto;
}

.timeline__item {
    position: relative;
        padding-left: $tl-base-padding + $tl-icon-size / 2;

    /**
     * Setup vertical ruler.
     */
    border-left: 4px solid theme-color('dark');
    margin-left: $tl-left-space;
    min-height: $tl-base-padding * 2 + $tl-item-offset;

    /**
     * Adjust content spacing.
     */
    .timeline__content {
        padding-top: $tl-item-offset;
    }

    /**
     * First and last items' positioning.
     */
    &:first-child {
        padding-top: $tl-item-offset;
    }

    &:last-child .timeline__content {
        position: absolute;
        top: 0;
        left: $tl-base-padding + $tl-icon-size / 2; // same as item left padding
        right: 0;
    }
}

/**
 * Circles with user pics.
 */
.timeline__icon {
    position: absolute;
    left: -2px;
    top: $tl-item-offset;
    transform: translateX(-50%);
    z-index: 1;

    background-color: white;
    border: 4px solid theme-color('secondary');

    border-radius: 50%;
    width: $tl-icon-size;
    height: $tl-icon-size;
}

// Adjust first circle position
.timeline__item:first-child .timeline__icon {
    top: $tl-item-offset * 2;
}

.timeline__reactions {
    padding-top: $tl-base-padding / 2;
}

/**
 * Colors and font configurations
 */
.timeline__title {
    font-weight: 700;
    font-size: 1.2rem;

    span {
        font-size: 0.75rem;
        color: #4d4d4d;
    }
}

.timeline__text {
    color: #363636;
}
