a{
    margin: 0px;
    list-style-type: none;
    padding:0px 5px;
    text-decoration: none;
    color: #6c757d;
    transition: 1s;
}
a:hover{
    transition: 1s;
    color: #fc853f;
}
b{
    transition: 1s;
}
b:hover{
    transition: 1s;
    color:#012970;
}
.login-form{
    transition: 1s;
    width: 475px;
}
.separator{
    display: flex;
}

.login-help-links{
    font-size: 12px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.login-img{
    transition: 1s;
}

@media screen and (max-width:991px){
    .login-img{
        transition: 1s;
        display: none;
    }
}

@media screen and (min-width:481px) and (max-width:767px){
    .login-form{
        width: 415px;
    }
    .login-help-links{
    flex-wrap: nowrap;
    }
}

@media screen and (max-width:480px){
    a{
        margin: 5px;
    }
    .login-form{
        width: 315px;
    }
    .login-help-links{
    flex-direction: column;
    }
    .login-help-links div{
        display: none;
    }
}