.card__input {
    border-bottom: 1px solid #007c9d !important;
    box-shadow: 0 1px 0 0 #007c9d !important;
}

.input__label {
    color: #007c9d !important;
}

.card__btn {
    background: linear-gradient(45deg, #ffaf00, #ff8429);
    border-radius: 5px !important;
    text-transform: uppercase;
    width: 60% !important;
    letter-spacing: 2px;
    font-weight: bold !important;
    color: #fff !important;
    font-size: 1rem !important;
    margin: 0 auto;
    box-shadow: none;
}

.alert-error {
    text-align: center;
    color: #e53935;
}

.banner {
    display: flex;
}

.banner__img {
    width: 100%;
}

.page-footer {
    background-color: #ff8429 !important;
}