:root {
    --spacer: 1rem; /**/
    --one-space-unit: calc(0.25 * var(--spacer));
    --two-space-units: calc(0.5 * var(--spacer));
    --four-space-units: calc(1.5 * var(--spacer));
    --five-space-units: calc(3 * var(--spacer));
}

.m-1 {
    margin: var(--one-space-unit);
}

.m-2 {
    margin: var(--two-space-units);
}

.m-3 {
    margin: var(--spacer);
}

.m-4 {
    margin: var(--four-space-units);
}

.m-5 {
    margin: var(--five-space-units);
}

.mt-0 {
    margin-top: 0;
}

.mt-1 {
    margin-top: var(--one-space-unit);
}

.mt-2 {
    margin-top: var(--two-space-units);
}

.mt-3 {
    margin-top: var(--spacer);
}

.mt-4 {
    margin-top: var(--four-space-units);
}

.mt-5 {
    margin-top: var(--five-space-units);
}

.ml-0 {
    margin-left: 0 !important;
}

.ml-1 {
    margin-left: var(--one-space-unit);
}

.ml-2 {
    margin-left: var(--two-space-units);
}

.ml-3 {
    margin-left: var(--spacer);
}

.ml-4 {
    margin-left: var(--four-space-units);
}

.ml-5 {
    margin-left: var(--five-space-units);
}

.mx-1 {
    margin-left: var(--one-space-unit) !important;
    margin-right: var(--one-space-unit) !important;
}

.mx-2 {
    margin-left: var(--two-space-units) !important;
    margin-right: var(--two-space-units) !important;
}

.mx-3 {
    margin-left: var(--spacer) !important;
    margin-right: var(--spacer) !important;
}

.mx-4 {
    margin-left: var(--four-space-units) !important;
    margin-right: var(--four-space-units) !important;
}

.mx-5 {
    margin-left: var(--five-space-units) !important;
    margin-right: var(--five-space-units) !important;
}

.my-1 {
    margin-top: var(--one-space-unit) !important;
    margin-bottom: var(--one-space-unit) !important;
}

.my-2 {
    margin-top: var(--two-space-units) !important;
    margin-bottom: var(--two-space-units) !important;
}

.my-3 {
    margin-top: var(--spacer) !important;
    margin-bottom: var(--spacer) !important;
}

.my-4 {
    margin-top: var(--four-space-units) !important;
    margin-bottom: var(--four-space-units) !important;
}

.my-5 {
    margin-top: var(--five-space-units) !important;
    margin-bottom: var(--five-space-units) !important;
}

.p-1 {
    padding: var(--one-space-unit) !important;
}

.p-2 {
    padding: var(--two-space-units) !important;
}

.p-3 {
    padding: var(--spacer) !important;
}

.p-4 {
    padding: var(--four-space-units) !important;
}

.p-5 {
    padding: var(--five-space-units) !important;
}